.pagina-jogo-bg {
  margin-top: 100px;
  padding-top: 20px;
  background: linear-gradient(180deg, #15181d 0%, #1669a5 100%);
  box-shadow: inset 0 -600px var(--color-w);
}

.pagina-jogo-item {
  padding: 40px 60px;
  background-color: var(--color-g-1);
  border-radius: 4px;
}

.pagina-jogo-conteudo {
  display: grid;
  grid-template-columns: 600px 1fr;
}

.pagina-jogo-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  color: var(--color-g-8);
}

.pagina-jogo-links span {
  font-weight: 600;
}

.pagina-jogo-links a:hover {
  color: var(--color-b-5);
}

.pagina-jogo-galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pagina-jogo-galeria img {
  flex: 1;
  min-width: 180px;
  border-radius: 4px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
  cursor: pointer;
  opacity: 0.8;
}

.pagina-jogo-galeria img:first-child {
  min-width: 100%;
  opacity: 1;
  cursor: default;
}

.pagina-jogo-galeria img:hover {
  opacity: 1;
  transition: 0.5s;
}

.pagina-jogo-tudo {
  margin-left: 40px;
}

.pagina-jogo-detalhe {
  border-width: 8px;
  border-style: solid;
  border-image: linear-gradient(180deg, #ffe661 0%, #ffcb05 100%) 1;
  border-right: none;
  border-bottom: none;
  border-top: none;
  padding-left: 8px;
  color: var(--color-g-8);
  margin-bottom: 10px;
}

.pagina-jogo-tudo h2 {
  font-weight: 600;
  font-size: 2rem;
  color: var(--color-y-8);
  margin-bottom: 14px;
}

.pagina-jogo-flex {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
}

.pagina-jogo-tudo div h3 {
  font-weight: 400;
  font-size: 2rem;
  color: var(--color-y-7);
}

.pagina-jogo-tudo button {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--color-y-8);
  width: 400px;
  height: 50px;
  background: linear-gradient(180deg, #ffe661 0%, #ffcb05 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
  margin-top: 60px;
}

.pagina-jogo-tudo button:hover {
  cursor: pointer;
  background: linear-gradient(180deg, #ffcb05 0%, #cc9302 100%);
}

.pagina-jogo-resumo {
  font-weight: 400;
  font-size: 1rem;
  color: var(--color-g-7);
  padding-top: 40px;
  padding-bottom: 20px;
  border-top: solid 2px var(--color-g-2);
  margin-top: 40px;
}

.pagina-jogo-resumo span {
  font-style: italic;
}

.pagina-jogo-espec {
  margin: 60px 0;
}

.pagina-jogo-grid {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.pagina-jogo-grid p {
  border: solid 1px var(--color-g-1);
  border-left: none;
  border-right: none;

  padding: 20px 0;
}

.pagina-jogo-grid p:first-child {
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-b-6);
}

.pagina-jogo-grid p:nth-child(2) {
  font-weight: 400;
  font-size: 1rem;
  color: var(--color-g-7);
}

@media (max-width: 1200px) {
  .pagina-jogo-item {
    padding: 20px 30px;
  }
  .pagina-jogo-conteudo {
    display: grid;
    grid-template-columns: 1fr;
  }
  .pagina-jogo-galeria img {
    max-width: 400px;
  }
  .pagina-jogo-galeria img:first-child {
    max-width: 600px;
  }
  .pagina-jogo-detalhe {
    margin-top: 20px;
  }
}

@media (max-width: 700px) {
  .pagina-jogo-tudo {
    margin-left: 0px;
  }
  .pagina-jogo-conteudo {
    display: flex;
    flex-wrap: wrap;
  }
  .pagina-jogo-galeria {
    order: 2;
  }
  .pagina-jogo-galeria img {
    max-width: 300px;
    opacity: 1;
    cursor: default;
  }
  .pagina-jogo-galeria img:first-child {
    max-width: 300px;
  }
  .pagina-jogo-resumo {
    padding-bottom: 40px;
  }
  .pagina-jogo-tudo h2 {
    font-size: 1.5rem;
  }
  .pagina-jogo-tudo div h3 {
    font-size: 1.4rem;
  }
  .pagina-jogo-tudo button {
    font-weight: 700;
    font-size: 1.2rem;
    width: 300px;
    height: 40px;
    margin-top: 30px;
  }
  .pagina-jogo-resumo {
    font-size: 1rem;
    color: var(--color-g-7);
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: solid 2px var(--color-g-2);
    margin-top: 20px;
  }
}
